.hero-card{   
    box-shadow: 1px 10px 5px #888888;
     
 }
 
 .hero-details{
     padding: 20px;
     
 }
 
 .hero-details li{
     margin-left: 20px;
 }

 .hero-title:hover h3{
    transition: 0.5s;
    font-size: 20px;
}

.hero-ability:hover li{
    background-color: yellow;
}